@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);








#ext_menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  color: #f8f8f6;
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
}
#header1-1 B {
  color: #f8f8f6;
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
}
#msg-box5-2 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#content5-8 .mbr-section-title {
  font-family: 'Source Sans Pro', sans-serif;
}
#content5-8 P {
  font-size: 23px;
}
#msg-box1-c H2 {
  font-family: 'Open Sans', sans-serif;
}
#content4-f H4 {
  font-family: 'Open Sans', sans-serif;
  color: #0275d8;
}
#form1-5 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  color: #5cb85c;
}
#social-buttons1-7 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

#ext_menu-i .navbar-toggler {
  color: #000;
}
#form1-l .mbr-section-title {
  text-align: right;
  color: #5cb85c;
  font-family: 'Roboto', sans-serif;
}

#ext_menu-g .navbar-toggler {
  color: #000;
}
#form1-m .mbr-section-title {
  color: #5cb85c;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-n .navbar-toggler {
  color: #000;
}

#ext_menu-p .navbar-toggler {
  color: #000;
}
#header3-s H3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
